@import "tailwindcss";

@theme {
  --color-*: initial;

  /* Cores Base (Cinzas) */
  --color-gray-100: #1f2523;
  --color-gray-200: #4d5c57;
  --color-gray-300: #cdd5d2;
  --color-gray-400: #e4ece9;
  --color-gray-500: #f9fbfa;

  /* Cores do Produto (Verde) */
  --color-green-100: #1f8459;
  --color-green-200: #2cb178;

  /* Branco */
  --color-white: #ffffff;

  /* Fonte */
  --font-sans: "Open Sans", sans-serif;
}

@layer utilities {
  .text-2xs {
    font-size: 10px;
  }
}
